header {
	font-family: var(--header-font);
}

body > header {
	grid-area: header;
	background-image: var(--header-background-l);
	background-color: var(--header-bg-color);
	background-position: bottom right;
	text-shadow: 0.4em 0.4em 0.4em black;
}

body.layout-home > header {
	height: calc(100vh - var(--nav-height));
}

body > header > [itemtype="http://schema.org/Person"] {
	height: 100%;
	justify-content: space-between;
}

.social-links {
	margin-bottom: 1em;
}

@media (orientation: portrait) and (min-height: 901px),
	(orientation: landscape) and (min-width: 1201px) {
	:root.webp body > header {
		background-image: var(--header-background-chrome-full);
	}

	:root.no-webp body > header {
		background-image: var(--header-background-full);
	}
}

@media (orientation: portrait) and (min-height: 601px) and (max-height: 900px),
	(orientation: landscape) and (min-width: 801px) and (max-width: 1200px) {
	:root.webp > body > header {
		background-image: var(--header-background-chrome-l);
	}

	:root.no-webp > body > header {
		background-image: var(--header-background-l);
	}
}

@media (orientation: portrait) and (min-height: 316px) and (max-height: 600px),
	(orientation: landscape) and (min-width: 421px) and (max-width: 800px) {
	:root.webp > body > header {
		background-image: var(--header-background-chrome-m);
	}

	:root.no-webp > body > header {
		background-image: var(--header-background-m);
	}
}

@media (orientation: portrait) and (max-height: 315px),
	(orientation: landscape) and (max-width: 420px) {
	:root.webp > body > header {
		background-image: var(--header-background-chrome-s);
	}

	:root.no-webp > body > header {
		background-image: var(--header-background-s);
	}
}

@media (orientation: landscape) {
	header {
		font-size: 0.7rem;
	}
}
