.icon-twirl:hover {
	transform: rotate(360deg) scale(1.7);
}

[data-share] {
	bottom: 0.5rem;
	right: 0.5rem;
	min-height: 2.3em;
	min-width: 2.3em;
	padding: 0em;
	opacity: 0.8;
	transition: opacity 400ms ease-in-out, transform 400ms ease-in-out;
}

[data-share]:hover {
	opacity: 1;
	transform: scale(1.1);
}

[data-share] > svg {
	width: auto;
	height: 60%;
}
