.layout-home {
	grid-template-rows: minmax(calc(100vh - var(--nav-height)), auto) var(--nav-height);
}

.pagination .post {
	height: 13vmax;
	overflow: hidden;
	padding-top: 0;
	padding-left: 0;
}

.pagination .post img {
	height: 13vmax;
	margin-right: 0.3em;
}

body {
	max-width: 100vw;
	grid-template-columns: 2fr 75fr 23fr;
	grid-template-areas: 'header header header'
	'nav nav nav'
	'. main pinned-posts'
	'. main recent-posts'
	' . main .'
	'footer footer footer';
}

.gist {
	max-width: 75vw;
}

.layout-full-width {
	grid-template-columns: 5fr 90fr 5fr;
	grid-template-areas: 'header header header'
	'nav nav nav'
	'. main .'
	'footer footer footer';
}

@media (max-width: 700px) {
	body {
		grid-template-columns: 100vw;
		grid-template-areas: 'header' 'nav' 'main' 'pinned-posts' 'recent-posts' 'footer';
	}

	.gist {
		max-width: 100vw;
	}

	.layout-full-width {
		grid-template-columns: 100vw;
		grid-template-areas: 'header' 'nav' 'main' 'footer';
	}

	.pagination .post {
		height: auto;
		overflow: hidden;
		padding-top: 0;
		padding-left: 0;
	}

	.pagination .post img {
		max-height: 25vh;
		height: auto;
		width: auto;
		margin-right: 0.3em;
	}
}
