@page {
	size: auto;
	margin: 25mm 0 25mm 0;
}

@page :first {
	size: auto;
	margin: 0 0 25mm 0;
}

@media screen and (min-width: 1000px) {
	:root {
		font-size: 1vmax;
	}
}

@media screen and (max-width: 999px) and (min-width: 500px) {
	:root {
		font-size: 1.5vmax;
	}
}

@media screen and (max-width: 499px) {
	:root {
		font-size: 1.6vmax;
	}
}

@media print {
	:root {
		font-size: 12pt;
	}
}

@media screen {
	body {
		background-color: #444444;
	}

	header, main {
		max-width: 1000px;
		box-shadow: 4px 8px 10px rgba(0,0,0,.3);
	}

	main {
		background: white;
		border: 1px solid #ccc;
		border-radius: 2px;
		margin-bottom: 2em;
		padding-bottom: 3em;
	}

	section {
		background: inherit;
	}

	.fixed {
		position: fixed;
	}

	[data-share], [data-action="print"] {
		position: fixed;
		bottom: 1rem;
		width: 3.3rem;
		height: 3.3rem;
		font-size: 2rem;
		border: none;
		border-radius: 50%;
		background-color: rgb(0, 150, 136);
		display: flex;
		justify-content: center;
		transition: transform 400ms ease-in-out;
	}

	.floating:hover {
		transform: scale(1.2);
	}

	.main-header, .section-heading {
		color: #FEFEFE;
		text-shadow: 1px 1px 2px #222;
	}

	.main-header .icon {
		filter: drop-shadow( 1px 1px 2px #222);
	}

	[data-share] {
		right: 5rem;
		color: white;
		filter: drop-shadow(3px 3px 2px rgba(0,0,0,0.7));
	}

	[data-action] {
		color: white;
		right: 1rem;
		filter: drop-shadow(3px 3px 2px rgba(0,0,0,0.7));
	}


}

@media screen and (min-width: 1000px) {
	.main-header {
		position: sticky;
		top: 0;
	}

	header, main {
		margin-left: calc((100vw - 1000px) / 2);
	}
}

@media print {
	a {
		color: inherit;
		text-decoration: none;
	}

	[data-share], [data-action], .floating {
		display: none;
	}

	.main-header, .section-heading {
		color: #FFFFFF;
	}

	.education-entry {
		page-break-inside: avoid;
	}

	/* Adjust brightness, contrast, and saturation of images for print */
	img {
		filter: brightness(125%) saturate(90%) contrast(90%);
	}
}

body {
	margin: 0;
	padding: 0;
}

*, *::after, *::before {
	box-sizing: border-box;
}

[hidden], menu, template {
	display: none;
}

header, main, section {
	display: block;
}

header {
	padding: 1.2em 3em;
}

section {
	padding: 0 4em;
}

header a {
	color: inherit;
}

nav {
	justify-content: space-around;
	margin: 0.7em;
}

button {
	cursor: pointer;
}

blockquote {
	color: #777;
	font-style: italic;
	padding: 0px 15px;
	border-left: 4px solid #DDD;
}

.avatar {
	position: absolute;
	border-radius: 50%;
	height: 6rem;
	width: 6rem;
	left: calc(50% - 3em);
	top: 0.3em;
}

.cols-2 {
	column-count: 2;
}

.right {
	text-align: right;
}

.icon, .icon * {
	color: inherit;
	max-width: 100%;
	max-height: 100%;
	width: 1em;
	height: 1em;
	vertical-align: middle;
}

.icon {
	fill: currentColor;
}

.employed-to:empty::after {
	content: "Present";
}

.section-heading {
	border-bottom: 1px solid black;
	text-align: center;
	page-break-after: avoid;
}

.main-header, .section-heading {
	background-color: #009688;
	font-weight: 800;
	font-size: 1.1em;
	line-height: 1.3;
	font-family: Roboto;
}

.main-header .icon {
	margin-right: 0.7em;
}

.flex {
	display: flex;
}

[itemprop="name"] {
	font-size: 1.3em;
	font-weight: 700;
}

[data-before]::before {
	content: attr(data-before);
	display: inline;
}

[data-after]::after {
	content: attr(data-after);
	display: inline;
}

.section-heading {
	padding: 0.3em;
	border-radius: 8px;
}

.employment-entry h3, .education-entry .school {
	border-bottom: 2px solid #009688;
}

/* Multi-column li bullet-point fix for Chrome */
@supports (-webkit-column-count: auto) {
	ul.cols-2 > li, cols-2 ul > li {
		list-style-type: none;
	}

	ul.cols-2 > li::before, cols-2 ul > li::before {
		display: inline-block;
		border-radius: 50%;
		background-color: currentColor;
		content: '';
		padding: 0.15em;
		vertical-align: middle;
		margin-right: 0.4em;
	}
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: local('Roboto'), local('Roboto-Regular'), url('/fonts/roboto.woff2') format('woff2'), url('/fonts/roboto.woff') format('woff'), url('/fonts/roboto.ttf') format('truetype');
}
