---
title: Home
layout: home
---
<section class="pagination">
	{% include breadcrumb-nav.html %}
	<div class="grid grid-gallery">
		{% for post in paginator.posts %}
			<div class="article-preview card shadow-dark">
				{% include post-preview.html post=post %}
			</div>
		{% endfor %}
	</div>
	<footer class="paginate-nav">
		{% if paginator.previous_page or paginator.next_page %}
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path | absolute_url }}" rel="prev" role="button" title="Previous page">
					{% include icon.html icon='prev' %}
				</a>
			{% endif %}
			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path | absolute_url }}" role="button" rel="next" title="Next page">
					{% include icon.html icon='next' %}
				</a>
			{% endif %}
		{% endif %}
	</footer>
</section>
