---
layout: page
category: php
permalink: /posts/php/
title: PHP
---
{% assign posts = site.posts | where: 'category', page.category %}
<header class="background-accent color-alt">
	<h2 class="center">
		<a href="{{ site.url }}">
			<svg class="icon current-color">
				<use xlink:href="{{ '/img/icons.svg#home' | absolute_url }}" />
			</svg>
		</a>
		<span>/</span>
		<a href="{{ '/posts' | absolute_url}}">Posts</a>
		<span>/</span>
		<a href="{{ page.url | absolute_url }}">{{ page.title }}</a>
	</h2>
</header>
<div class="grid grid-gallery">
	{% for post in posts | limit: 12 %}
		<div class="card shadow-dark">
			<a href="{{ post.url | absolute_url }}">
				<h3>{{ post.title }}</h3>
			</a>
			{% if post.image != null %}
				<a href="{{ post.url | absolute_url }}" title="{{ post.title }}">
					<img src="{{ post.image | absolute_url }}" class="post-img" />
				</a>
			{% endif %}
			<blockquote class="post-excert">{{ post.content | strip_html | truncatewords: 20 }}</blockquote>
		</div>
	{% endfor %}
</div>
