<dialog id="about-dialog" class="fadeInUp animation-speed-normal animation-ease-in animation-fill-backwards">
	<header class="sticky top background-primary">
		<span class="clearfix">
			<button data-close="#about-dialog" class="font-main filter-shadow right">X</button>
		</span>
	</header>
	<figure class="clearfix">
		<img
			srcset="
				https://secure.gravatar.com/avatar/{{ site.gravatar }}?s=512&d=mm 512w,
				https://secure.gravatar.com/avatar/{{ site.gravatar }}?s=400&d=mm 400w,
				https://secure.gravatar.com/avatar/{{ site.gravatar }}?s=300&d=mm 300w,
				https://secure.gravatar.com/avatar/{{ site.gravatar }}?s=256&d=mm 256w,
				https://secure.gravatar.com/avatar/{{ site.gravatar }}?s=180&d=mm 180w,
				https://secure.gravatar.com/avatar/{{ site.gravatar }}?s=128&d=mm 128w,
				https://secure.gravatar.com/avatar/{{ site.gravatar }}?s=64&d=mm 64w"
			sizes="(orientation: portrait) 15vw, 12vw"
			src="https://secure.gravatar.com/avatar/{{ site.gravatar }}?s=256&d=mm"
			alt="Gravatar"
			class="round shadow-dark left"
			crossorigin="anonymous" />
		<blockquote class="left">
				{{ site.data.person.description }}
			<cite>{{ site.data.person.givenName }} {{ site.data.person.familyName }}</cite>
		</blockquote>
	</figure>
	<div class="skills center animation-stagger">
		{% assign className = 'trampoline animation-ease-in-out animation-infinite animation-speed-normal animation-overshoot animation-alternate'}
		{% include icon.html icon='#html5' class=className width='48' height='48' %}
		{% include icon.html icon='#css3' class=className width='48' height='48' %}
		{% include icon.html icon='#javascript' class=className width='48' height='48' %}
		<img src="{{ '/img/logos/svg.svg' | absolute_url }}" width="48" height="48" alt="MySQL" class="{{ className }}" />
		{% include icon.html icon='#git' class=className width='48' height='48' %}
		<img src="{{ '/img/logos/PHP.svg' | absolute_url }}" width="48" height="48" alt="PHP" class="{{ className }}" />
		{% include icon.html icon='#mysql' class=className width='48' height='48' %}
	</div>
</dialog>
