<dialog id="about-dialog">
	<header class="sticky top">
		<button data-close="#about-dialog" class="font-main filter-shadow">X</button>
	</header>
	<figure class="clearfix">
		<img
			srcset="{% for size in site.data.gravatar.sizes %}
				https://gravatar.com/avatar/{{ site.data.gravatar[site.data.person.email] }}?s={{ size }} {{ size }}w,{% endfor %}"
			sizes="(orientation: portrait) 15vw, 12vw"
			src="https://gravatar.com/avatar/{{ site.data.gravatar[site.data.person.email] }}?s=256"
			alt="Gravatar"
			class="round shadow-dark left">
		<blockquote class="left">
				{{ site.data.person.description }}
			<cite>{{ site.data.person.givenName }} {{ site.data.person.familyName }}</cite>
		</blockquote>
	</figure>
	<div class="skills center animation-stagger animation-alternate animation-ease-in-out animation-infinite">
		<svg width="48" height="48" class="bounce animation-infinite animation-speed-normal animation-overshoot animation-alternate">
			<use xlink:href="{{ '/img/icons.svg#html5' | absolute_url }}" />
		</svg>
		<svg width="48" height="48" class="bounce animation-infinite animation-speed-normal animation-overshoot animation-alternatee">
			<use xlink:href="{{ '/img/icons.svg#css3' | absolute_url }}" />
		</svg>
		<svg width="48" height="48" class="bounce animation-infinite animation-speed-normal animation-overshoot animation-alternate">
			<use xlink:href="{{ '/img/icons.svg#javascript' | absolute_url }}" />
		</svg>
		<img src="/img/logos/svg.svg" width="48" height="48" alt="MySQL" class="bounce animation-infinite animation-speed-normal animation-overshoot animation-alternate" />
		<svg width="48" height="48" class="bounce animation-infinite animation-speed-normal animation-overshoot animation-alternate">
			<use xlink:href="{{ '/img/icons.svg#git' | absolute_url }}" />
		</svg>
		<img src="/img/logos/PHP.svg" width="48" height="48" alt="PHP" class="bounce animation-infinite animation-speed-normal animation-overshoot animation-alternate" />
		<svg width="48" height="48" class="bounce animation-infinite animation-speed-normal animation-overshoot animation-alternate">
			<use xlink:href="{{ '/img/icons.svg#mysql' | absolute_url }}" />
		</svg>
	</div>
</dialog>
