<dialog id="about-dialog">
	<header class="sticky top">
		<button data-close="#about-dialog" class="font-main filter-shadow">X</button>
	</header>
	<figure class="clearfix">
		<img
			srcset="{% for size in site.data.gravatar.sizes %}
				https://gravatar.com/avatar/{{ site.data.gravatar[site.data.person.email] }}?s={{ size }} {{ size }}w,{% endfor %}"
			sizes="(orientation: portrait) 15vw, 12vw"
			src="https://gravatar.com/avatar/{{ site.data.gravatar[site.data.person.email] }}?s=256"
			alt="Gravatar"
			class="round shadow-dark left">
		<blockquote class="left">
				{{ site.data.person.description }}
			<cite>{{ site.data.person.givenName }} {{ site.data.person.familyName }}</cite>
		</blockquote>
	</figure>
	<div class="skills center animation-stagger animation-alternate animation-ease-in-out animation-infinite">
		<img src="/img/logos/html5.svg" width="48" height="48" alt="HTML5" class="bounce" />
		<img src="/img/logos/css3.svg" width="48" height="48" alt="CSS3" class="bounce" />
		<img src="/img/logos/javascript.svg" width="48" height="48" alt="javascript" class="bounce" />
		<img src="/img/logos/svg.svg" width="48" height="48" alt="SVG" class="bounce" />
		<img src="/img/logos/PHP.svg" width="48" height="48" alt="PHP" class="bounce" />
		<img src="/img/logos/MySQL.svg" width="48" height="48" alt="MySQL" class="bounce" />
	</div>
</dialog>
