<article itemtype="http://scema.org/BlogPosting" itemscope="">
	{% if page.image %}
		<meta itemprop="image" content="{{ page.image }}" />
	{% endif %}
	{% if page.description %}
		<meta itemprop="description" content="{{ page.description }}" />
	{% endif %}
	{% if page.tags %}
		<meta itemprop="keywords" content="{{ page.tags | join: ', '}}" />
	{% endif %}
	<meta itemptop="wordCount" content="{{ content | number_of_words }}" />
	<header>
		<h2 class="font-title center" itemprop="headline">{{ page.title }}</h2>
		{% if page.author %}
			{% if page.author_url %}
				By <a href="{{ page.author_url}}" itemprop="author">{{ page.author }}</a>
			{% else %}
				By <span itemprop="author">{{ page.author }}</span>
			{% endif %}
		{% endif %}
		{% if page.date %}
			<b>
				<span>Posted on</span>
				<time itemprop="datePosted" datetime="{{ page.date | date: data_to_xmlschema }}">
					{{ page.date | date: '%a, %B %e, %Y %I:%M %p' }}
				</time>
			</b>
		{% endif %}
		{% if page.tags %}<meta itemprop="keywords" content="{{ page.tags | join: ', '}}" />{% endif %}
		<hr />
	</header>
	<div itemprop="text">{{ content }}</div>
	<footer>
		<hr />
		{% include license.html %}
	</footer>
</article>
