<div itemtype="http://schema.org/Person" itemprop="author" itemscope="" class="author-info clearfix">
	{% assign author = site.data.authors[page.author] %}
	<b>By</b>
	{% if author.image != null %}
		<img itemprop="image" src="{{ author.image | absolute_url }}" class="round shadow left" />
	{% endif %}
	<b itemprop="name">
		{% if author.givenName != null %}
			<span itemprop="givenName">{{ author.givenName }}</span>
		{% endif %}
		{% if author.additionalName != null %}
			<span itemprop="additionalName">{{ author.additionalName }}</span>
		{% endif %}
		{% if author.familyName != null %}
			<span itemprop="familyName">{{ author.familyName }}</span>
		{% endif %}
	</b>
	<div class="big meta-author-links flex row">
		{% if author.url != null %}
		<a itemprop="url" href="{{ author.url | absolute_url }}" rel="external noopener" class="no-text-decoration">
			<svg class="icon">
				<use xlink:href="{{ '/img/icons.svg#web-browser' | absolute_url }}" />
			</svg>
		</a>
		{% endif %}
		{% if author.github != null %}
			<a itemprop="sameAs" href="https://github.com/{{ author.github }}" rel="external noopener" title="GitHub" class="no-text-decoration">
				<svg class="icon">
					<use xlink:href="{{ '/img/icons.svg#mark-github' | absolute_url }}" />
				</svg>
			</a>
		{% endif %}
		{% if author.twitter != null %}
		<a itemprop="sameAs" href="https://twitter.com/{{ author.twitter }}" rel="external noopener" title="Twitter" class="no-text-decoration">
			<svg class="icon">
				<use xlink:href="{{ '/img/icons.svg#twitter' | absolute_url }}" />
			</svg>
		</a>
		{% endif %}
		{% if author.linkedin != null %}
			<a itemprop="sameAs" href="https://www.linkedin.com/in/{{ author.linkedin }}/" rel="noopener external" title="LinkedIn" class="no-text-decoration">
				<svg class="icon">
					<use xlink:href="{{ '/img/icons.svg#linkedin' | absolute_url }}" />
				</svg>
			</a>
		{% endif %}
		{% if author.googlePlus != null %}
			<a itemprop="sameAs" href="https://plus.google.com/{{ author.googlePlus }}" rel="noopener external" title="Google+" class="no-text-decoration">
				<svg class="icon">
					<use xlink:href="{{ '/img/icons.svg#google+' | absolute_url }}" />
				</svg>
			</a>
		{% endif %}
		{% if author.email != null %}
			<a itemprop="email" content="{{ author.email }}" href="mailto:{{ author.email }}" title="Email" class="no-text-decoration">
				<svg class="icon">
					<use xlink:href="{{ '/img/icons.svg#mail-send' | absolute_url }}" />
				</svg>
			</a>
		{% endif %}
	</div>
</div>
