<footer id="contact" class="color-alt no-text-decoration optimize-speed transition-transform transition-speed-slow" role="contentinfo">
	<a href="https://github.com/shgysk8zer0" class="icon-twirl" title="My GitHub Profile" target="_blank" rel="noopener external">
		<svg class="icon big">
			<use xlink:href="{{ '/img/icons.svg#mark-github' | absolute_url }}" />
		</svg>
	</a>
	<a href="https://github.com/shgysk8zer0/shgysk8zer0.github.io" class="icon-twirl" title="The GitHub Repository for this Page" target="_blank" rel="noopener external">
		<svg class="icon big">
			<use xlink:href="{{ '/img/icons.svg#repo' | absolute_url }}" />
		</svg>
	</a>
	<a href="https://github.com/shgysk8zer0/shgysk8zer0.github.io/issues" class="icon-twirl" title="Open issues for the repository on Github" target="_blank" rel="noopener external">
		<svg class="icon big">
			<use xlink:href="{{ '/img/icons.svg#issue-opened' | absolute_url }}" />
		</svg>
	</a>
	<hr />
	<p>©<time itemprop="copyrightYear"> {{ 'now' | date: "%Y" }}</time></p>
</footer>
