<footer id="contact" class="color-alt no-text-decoration optimize-speed" role="contentinfo" itemtype="http://schema.org/WPFooter" itemscope="">
	<a href="https://github.com/shgysk8zer0" title="My GitHub Profile" target="_blank" rel="noopener external" class="inline-block">
		<svg class="icon big icon-twirl transition-speed-normal transition-overshoot transition-transform">
			<use xlink:href="{{ '/img/icons.svg#mark-github' | absolute_url }}" />
		</svg>
	</a>
	<a href="https://github.com/shgysk8zer0/shgysk8zer0.github.io" title="The GitHub Repository for this Page" target="_blank" rel="noopener external" class="inline-block">
		<svg class="icon big icon-twirl transition-speed-normal transition-overshoot transition-transform">
			<use xlink:href="{{ '/img/icons.svg#repo' | absolute_url }}" />
		</svg>
	</a>
	<a href="https://github.com/shgysk8zer0/shgysk8zer0.github.io/issues" title="Open issues for the repository on Github" target="_blank" rel="noopener external" class="inline-block">
		<svg class="icon big icon-twirl transition-speed-normal transition-overshoot transition-transform">
			<use xlink:href="{{ '/img/icons.svg#issue-opened' | absolute_url }}" />
		</svg>
	</a>
	<a href="{{ '/feed.xml' | absolute_url}}" title="Subscribe to feed" target="_blank" class="inline-block">
		<svg class="icon big icon-twirl transition-speed-normal transition-overshoot transition-transform">
			<use xlink:href="{{ '/img/icons.svg#rss' | absolute_url }}" />
		</svg>
	</a>
	<hr />
	<p>©<time itemprop="copyrightYear"> {{ 'now' | date: "%Y" }}</time></p>
</footer>
