<div class="gallery card color-alt" id="gallery-{{ include.images | first }}">
	<figure class="relative">
		{% assign current = include.images | first %}
		{% include imgur.html
			url=current
			sizes=include.sizes
			class='current'
		%}
		<figcaption></figcaption>
		<button type="button" class="no-border background-primary absolute bottom right" data-click="fullscreen" hidden="">
			{% include icon.html icon='fullscreen' %}
		</button>
	</figure>
	<div class="thumbnails">
		{% for image in include.images %}
			{% include imgur.html
				url=image
				sizes='(min-width: 1000px) 10vw, 30vw'
				class='thumbnail'
			%}
		{% endfor %}
	</div>
</div>
