<header id="about" class="center background-fixed background-no-repeat overflow-hidden background-cover color-alt optimize-speed transition-speed-slow" role="banner">
	{% assign name = site.author | downcase | replace: ' ', '-' %}
	{% assign author = site.data.authors[name] %}
	<div itemtype="http://schema.org/Person" itemprop="about" itemscope="" class="flex column wrap transform-origin-bottom transition-ease-in-out">
		<figure itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
			{% include gravatar.html
				gravatar=author.image.gravatar
				sizes='(orientation: portrait) 30vw, 15vw'
				class='round shadow-dark cursor-pointer'
				itemprop='url'
				attrs='data-show-modal="#about-dialog"'
			%}
		</figure>
		<h1 class="capitalize">
			{% if author.url %}<a href="{{ author.url }}" rel="noopener external" title="Personal Blog">{% endif %}
				<span itemprop="givenName">{{ author.givenName }}</span>
				<span itemprop="familyName">{{author.familyName }}</span>
			{% if author.url %}</a>{% endif %}
		</h1>
		<h2 class="capitalize">
			<span itemprop="jobTitle">{{ author.jobTitle }}</span> |
			<span itemprop="worksFor" itemtype="http://schema.org/Organization" itemscope="">
				<a href="{{ author.worksFor.url }}" class="color-inherit" rel="noopener external">
					<span itemprop="name">{{ author.worksFor.name }}</span>
					<img src="{{ author.worksFor.logo.contentUrl | absolute_url }}" width="32" height="32" alt="{{ author.worksFor.name }}" />
				</a>
			</span>
		</h2>
		{% if include.extended %}
			{% assign social-icon-class='icon bounceInDown animation-ease-in animation-fill-backwards animation-speed-crawl animation-paused' %}
			{% capture contact-icon-class %}{{ social-icon-class | append: ' current-color' }}{% endcapture %}
			{% assign link-class = 'icon-twirl transition-transform transition-speed-normal transform-origin-center transition-ease-in-out' %}
			<hr />
			{% if author.homeLocation %}
				<h4>
					<address itemprop="homeLocation" itemtype="http://schema.org/PostalAddress" itemscope="">
						<span itemprop="streetAddress">{{ author.homeLocation.address.streetAddress }}</span>
						<br />
						<span itemprop="addressLocality">{{ author.homeLocation.address.addressLocality }}</span>,
						<span itemprop="addressRegion">{{ author.homeLocation.address.addressRegion }}</span>
					</address>
				</h4>
			{% endif %}
			<div class="contact-links flex row container bigger">
				{% if author.telephone %}
					<a href="tel:{{ author.telephone }}" itemprop="telephone" content="{{ author.telephone }}" title="{{ author.telephone }}" class="{{ link-class }}">
						{% include icon.html icon='#call-start' class=contact-icon-class %}
					</a>
				{% endif %}
				{% if author.email %}
					<a href="mailto:{{ author.email }}" itemprop="email" content="{{ author.email }}" title="{{ author.email }}" class="{{ link-class }}">
						{% include icon.html icon='#mail-unread' class=contact-icon-class %}
					</a>
				{% endif %}
				{% if author.homeLocation.geo %}
					<a href="geo:{{ author.homeLocation.geo.latitude }},{{ author.homeLocation.geo.longiture }};crs=wgs84;u=0" title="Geo" class="{{ link-class }}">
						{% include icon.html icon='#location' class=contact-icon-class %}
					</a>
				{% endif %}
			</div>
			{% if author.sameAs %}
				<hr />
				<div class="social-links no-text-decoration optimize-speed flex row container bigger animaion-stagger">
					{% if author.sameAs.github %}
						<a href="https://github.com/{{ author.sameAs.github }}" class="{{ link-class }}" title="GitHub" target="_blank" rel="noopener external" itemprop="sameAs">
							{% include icon.html icon='#mark-github' class=social-icon-class %}
						</a>
					{% endif %}
					{% if author.sameAs.twitter %}
						<a href="https://twitter.com/{{ author.sameAs.twitter }}" class="{{ link-class }}" title="Twitter" target="_blank" rel="noopener external" itemprop="sameAs">
							{% include icon.html icon='#twitter' class=social-icon-class %}
						</a>
					{% endif %}
					{% if author.sameAs.linkedin %}
						<a href="https://www.linkedin.com/in/{{ author.sameAs.linkedin }}/" class="{{ link-class }}" title="LinkedIn" target="_blank" rel="noopener external" itemprop="sameAs">
							{% include icon.html icon='#linkedin' class=social-icon-class %}
						</a>
					{% endif %}
					{% if author.sameAs.github %}
						<a href="https://plus.google.com/{{ author.sameAs.google_plus }}" class="{{ link-class }}" title="Google+" target="_blank" rel="noopener external" itemprop="sameAs">
							{% include icon.html icon='#google+' class=social-icon-class %}
						</a>
					{% endif %}
					{% if author.sameAs.youtube %}
						<a href="https://youtube.com/user/{{ author.sameAs.youtube }}" class="{{ link-class }}" title="YouTube" target="_blank" rel="noopener external" itemprop="sameAs">
							{% include icon.html icon='#youtube' class=social-icon-class %}
						</a>
					{% endif %}
					{% if author.sameAs.stackoverflow %}
						<a href="https://stackoverflow.com/users/{{ author.sameAs.stackoverflow }}" class="{{ link-class }}" title="StackOverflow" target="_blank" rel="noopener external" itemprop="sameAs">
							{% include icon.html icon='#stackoverflow' class=social-icon-class %}
						</a>
					{% endif %}
					{% if author.sameAs.upwork %}
						<a href="https://www.upwork.com/o/profiles/users/{{ author.sameAs.upwork }}" class="{{ link-class }}" title="Upwork" target="_blank" rel="noopener external" itemprop="sameAs">
							{% include icon.html icon='#upwork' class=social-icon-class %}
						</a>
					{% endif %}
				</div>
			{% endif %}
		{% endif %}
	</div>
</header>
