<header id="about" class="center background-fixed background-no-repeat overflow-hidden background-cover color-alt optimize-speed transition-speed-slow" role="banner" itemtype="http://schema.org/WPHeader" itemscope="">
	<div itemtype="http://schema.org/Person" itemprop="about" itemscope="" class="flex column wrap transform-origin-bottom transition-ease-in-out">
		<figure itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
			<img
				srcset="{% for size in site.data.gravatar.sizes %}
					https://gravatar.com/avatar/{{ site.data.gravatar[site.data.person.email] }}?s={{ size }} {{ size }}w,{% endfor %}"
				sizes="(orientation: portrait) 30vw, 15vw"
				src="https://gravatar.com/avatar/{{ site.data.gravatar[site.data.person.email] }}?s=256"
				alt="Gravatar"
				itemprop="url"
				class="round shadow-dark cursor-pointer"
				data-show-modal="#about-dialog" />
		</figure>
		<h1 class="capitalize">
			<a href="{{ site.data.person.url }}" rel="noopener external" title="Personal Blog">
				<span itemprop="givenName">{{ site.data.person.givenName }}</span>
				<span itemprop="familyName">{{ site.data.person.familyName }}</span>
			</a>
		</h1>
		<h2 class="capitalize">
			<span itemprop="jobTitle">{{ site.data.person.jobTitle }}</span> |
			<span itemprop="worksFor" itemtype="http://schema.org/Organization" itemscope="">
				<a href="{{ site.data.person.worksFor.url }}" rel="noopener external">
					<span itemprop="name">{{ site.data.person.worksFor.name }}</span>
					<img src="{{ site.data.person.worksFor.logo.contentUrl | absolute_url }}" width="32" height="32" alt="{{ site.data.person.worksFor.name }}" />
				</a>
			</span>
		</h2>
		{% if page.layout == 'home' %}
			<hr />
			<h4>
				<address itemprop="homeLocation" itemtype="http://schema.org/PostalAddress" itemscope="">
					<span itemprop="streetAddress">{{ site.data.person.homeLocation.address.streetAddress }}</span>
					<br />
					<span itemprop="addressLocality">{{ site.data.person.homeLocation.address.addressLocality }}</span>,
					<span itemprop="addressRegion">{{ site.data.person.homeLocation.address.addressRegion }}</span>
				</address>
			</h4>
			<div class="contact-links flex row container bigger">
				<a href="tel:{{ site.data.person.telephone }}" itemprop="telephone" content="{{ site.data.person.telephone }}" title="{{ site.data.person.telephone }}">
					<svg class="current-color icon transition-transform contact-icon transition-speed-normal transition-ease-in-out bounceInDown animation-ease-in animation-fill-backwards animation-speed-crawl animation-paused">
						<use xlink:href="{{ '/img/icons.svg#call-start' | absolute_url }}" />
					</svg>
				</a>
				<a href="mailto:{{ site.data.person.email }}" itemprop="email" content="{{ site.data.person.email }}" title="{{ site.data.person.email }}">
					<svg class="current-color icon transition-transform contact-icon transition-speed-normal transition-ease-in-out bounceInDown animation-ease-in animation-fill-backwards animation-speed-crawl animation-paused">
						<use xlink:href="{{ '/img/icons.svg#mail-send' | absolute_url}}" />
					</svg>
				</a>
				<a href="{{ site.data.person.homeLocation.geo.url }}" title="Geo">
					<svg class="current-color icon transition-transform contact-icon transition-speed-normal transition-ease-in-out bounceInDown animation-ease-in animation-fill-backwards animation-speed-crawl animation-paused">
						<use xlink:href="{{ '/img/icons.svg#location' | absolute_url}}" />
					</svg>
				</a>
			</div>
			<hr />
			<div class="social-links no-text-decoration optimize-speed flex row container bigger animaion-stagger">
				{% for link in site.data.links.social %}
				<a href="{{ link.url }}" class="icon-twirl transition-transform transition-speed-normal transform-origin-center transition-ease-in-out" title="{{ link.title }}" target="_blank" rel="noopener external" itemprop="sameAs">
					<svg class="icon bounceInDown animation-ease-in animation-fill-backwards animation-speed-crawl animation-paused{% if link.classes %} {{ link.classes | join: ' '}}{% endif %}">
						<use xlink:href=" {{ '/img/icons.svg#' | append: link.icon | absolute_url }}" />
					</svg>
				</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</header>
