<header id="about" class="center background-fixed background-no-repeat background-cover color-alt optimize-speed transition-speed-slow" role="banner">
	<div itemtype="http://schema.org/Person" itemprop="about" itemscope="" class="flex column wrap transform-origin-bottom transition-ease-in-out">
		<figure itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
			<img
				srcset="{% for size in site.data.gravatar.sizes %}
					https://gravatar.com/avatar/{{ site.data.gravatar[site.data.person.email] }}?s={{ size }} {{ size }}w,{% endfor %}"
				sizes="(orientation: portrait) 30vw, 15vw"
				src="https://gravatar.com/avatar/{{ site.data.gravatar[site.data.person.email] }}?s=256"
				alt="Gravatar"
				itemprop="url"
				class="round shadow-dark cursor-pointer"
				data-show-modal="#about-dialog" />
		</figure>
		<h1 class="capitalize">
			<span itemprop="givenName">{{ site.data.person.givenName }}</span>
			<span itemprop="familyName">{{ site.data.person.familyName }}</span>
		</h1>
		<h2 itemprop="jobTitle" class="capitalize">{{ site.data.person.jobTitle }}</h2>
		<hr />
		<h4>
			<address itemprop="homeLocation" itemtype="http://schema.org/PostalAddress" itemscope="">
				<span itemprop="addressLocality">{{ site.data.person.homeLocation.address.addressLocality }}</span>,
				<span itemprop="addressRegion">{{ site.data.person.homeLocation.address.addressRegion }}</span>
			</address>
		</h4>
		<div class="flex row container bigger">
			<a href="tel:{{ site.data.person.telephone }}" itemprop="telephone" content="{{ site.data.person.telephone }}">
				<svg class="current-color icon transition-transform">
					<use xlink:href="{{ '/img/icons.svg#call-start' | absolute_url }}" />
				</svg>
			</a>
			<a href="mailto:{{ site.data.person.email }}" itemprop="email" content="{{ site.data.person.email }}">
				<svg class="current-color icon transition-transform">
					<use xlink:href="{{ '/img/icons.svg#mail-send' | absolute_url}}" />
				</svg>
			</a>
			<a href="geo:{{ site.data.person.homeLocation.geo.latitude }},{{ site.data.person.homeLocation.geo.longitude }};u=0">
				<svg class="current-color icon transition-transform">
					<use xlink:href="{{ '/img/icons.svg#location' | absolute_url}}" />
				</svg>
			</a>
		</div>
	</div>
</header>
