<a href="{{ include.post.url | absolute_url }}" title="{{ include.post.title }}">
	{% if include.post.imgur %}
		{% include imgur.html
			url=include.post.imgur
			sizes='(min-width: 700px) 23vw, 100vw'
			alt='Article thumbnail'
			class='post-img'
			decoding='async'
		%}
	{% elsif include.post.image != null %}
		<img src="{{ include.post.image | absolute_url }}" class="post-img"{% if post.srcset %} srcset="{{ post.srcset | join: ', ' }}" sizes="(min-width: 700px) 23vw, 100vw"{% endif %} alt="Article thumbnail" crossorigin="anonymous" />
	{% endif %}
</a>
<a href="{{ include.post.url | absolute_url }}" title="{{ include.post.title }}">
	<h5 class="center post-title">{{ include.post.title }}</h5>
</a>
{% if include.post.description != null %}
	<details>
		<summary role="button">More Info</summary>
		<hr />
		<div>
			{% include icon.html icon='avatar-default' %}
			{{ include.post.author }}
		</div>
		<time datetime="{{ include.post.date | date: data_to_xmlschema }}" class="block">
			{% include icon.html icon='recent' %}
			{{ include.post.date | date: '%a, %B %e, %Y' }}
		</time>
		{% if include.post.category %}
			<div>
				{% include icon.html icon='tag' %}
				{{ include.post.category }}
			</div>
		{% endif %}
		<blockquote>
			{{ include.post.description }}
		</blockquote>
	</details>
{% endif %}
<hr />
