<a href="{{ include.post.url | absolute_url }}" title="{{ include.post.title }}">
	{% if include.post.image != null %}
		<img src="{{ include.post.image | absolute_url }}" class="post-img" crossorigin="anonymous" />
	{% endif %}
</a>
<a href="{{ include.post.url | absolute_url }}" title="{{ include.post.title }}">
	<h5 class="center post-title">{{ include.post.title }}</h5>
</a>
{% if include.post.description != null %}
	<details>
		<summary>More Info</summary>
		<p>{{ include.post.description }}</p>
	</details>
{% endif %}
<hr />
