<a href="{{ include.post.url | absolute_url }}" title="{{ include.post.title }}">
	{% if include.post.imgur %}
		{% include imgur.html
			url=include.post.imgur
			sizes='(min-width: 700px) 23vw, 100vw'
			alt='Article thumbnail'
			class='post-img'
			decoding='async'
		%}
	{% elsif include.post.image != null %}
		<img src="{{ include.post.image | absolute_url }}" class="post-img"{% if post.srcset %} srcset="{{ post.srcset | join: ', ' }}" sizes="(min-width: 700px) 23vw, 100vw"{% endif %} alt="Article thumbnail" crossorigin="anonymous" />
	{% endif %}
</a>
<a href="{{ include.post.url | absolute_url }}" title="{{ include.post.title }}">
	<h5 class="center post-title">{{ include.post.title }}</h5>
</a>
{% if include.post.description != null %}
	<details>
		<summary role="button">More Info</summary>
		<p>{{ include.post.description }}</p>
	</details>
{% endif %}
<hr />
