<div class="{{ include.animation | default: 'jackInTheBox' }} project card shadow optimize-legibility animation-paused animation-overshoot animation-speed-crawl animation-fill-forwards relative transition-all transition-speed-normal transition-ease-in-out" itemprop="workExample" itemtype="http://schema.org/WebApplication" itemscope="">
	<div itemprop="offers" itemtype="https://schema.org/Offer" itemscope="" hidden="">
		<meta itemprop="price" content="{{ include.project.offers.price | default: '0' }}" />
		<meta itemprop="priceCurrency" content="{{ include.project.offers.priceCurrency | default: 'USD' }}" />
	</div>
	<meta itemprop="browserRequirements" content="{{ include.project.browserRequirements }}" />
	<a href="{{ include.project.url }}" itemprop="url" target="_blank" class="no-text-decoration inline-block" rel="noopener external" title="{{ include.project.name }}">
		<h3 itemprop="name" class="center font-title color-accent">{{ include.project.name }}</h3>
		<h4 class="center" itemprop="applicationCategory">{{ include.project.applicationCategory }}</h4>
		<img src="{{ include.project.screenshot }}" class="filter-shadow" itemprop="screenshot" alt="{{ include.project.name }} image" crossorigin="anonymous" />
		<hr />
		<span class="underline color-accent" itemprop="keywords">{{ include.project.keywords }}</span>
		<br />
		<blockquote class="text-align-right block font-article" itemprop="description">{{ include.project.description }}</blockquote>
		<meta itemprop="operatingSystem" content="{{ include.project.operatingSystem | default: 'Windows, Mac, Linux, Android, iOS' }}" />
	</a>
	{% include share-button.html position='absolute' z-index='1' %}
</div>
