<template id="project-template">
	<section class="project card shadow optimize-legibility fade-in" itemtype="http://schema.org/SoftwareApplication">
		<a href="" itemprop="url" target="_blank" class="no-text-decoration" rel="noopener external">
			<h3 itemprop="name" class="center font-title color-highlight"></h3>
			<h4 class="center" itemprop="applicationCategory"></h4>
			<img src="" itemprop="screenshot" alt="screenshot" />
			<hr />
			<span class="underline color-highlight" itemprop="keywords"></span>
			<br />
			<blockquote class="text-align-right block font-article" itemprop="description"></blockquote>
			<meta itemprop="operatingSystem" content="" />
		</a>
	</section>
</template>
