<aside role="complementary" itemtype="http://schema.org/WPSideBar" itemscope="" class="card shadow-dark" id="recent-posts" crossorigin="anonymous">
		<h4 class="color-accent underline center">
			<svg class="current-color icon">
				<use xlink:href="{{ site.icons | absolute_url | append: '#recent' }}" />
			</svg>
			<span>Recent Posts</span>
		</h4>
		{% for post in site.posts limit: 10 %}
			<a href="{{ post.url | absolute_url }}" title="{{ post.title }}">
				{% if post.image != null %}
					<img src="{{ post.image | absolute_url }}" class="post-img" />
				{% endif %}
			</a>
			<a href="{{ post.url | absolute_url }}" title="{{ post.title }}">
				<h5 class="center post-title">{{ post.title }}</h5>
			</a>
			{% if post.description != null %}
				<details>
					<summary>More Info</summary>
					<p>{{ post.description }}</p>
				</details>
			{% endif %}
			<hr />
		{% endfor %}
</aside>
