<!DOCTYPE html>
<html lang="{{ site.data.head.lang}}" dir="{{ site.data.head.dir }}" class="no-js" itemtype="http://schema.org/WebPage" itemscope=""{% if site.data.head.service_worker %} data-service-worker="{{ site.data.head.service_worker }}"{% endif %} data-support-test="details, dialog, cssvars">
	{% include head.html %}
	<body class="grid border-box scroll-smooth cursor-default font-main" id="top">
		<svg data-share="" width="48" height="48" class="current-color fixed filter-shadow-dark cursor-pointer color-alt z-4" hidden="">
			<use xlink:href="/img/icons.svg#share"></use>
		</svg>
		{% include header.html %}
		{% include nav.html %}
		{% include main.html %}
		{% include footer.html %}
		{% include about-dialog.html %}
	</body>
</html>
