<!DOCTYPE html>
<html
	lang="{{ site.lang | default: 'en' }}"
	dir="{{ site.dir | default: 'ltr' }}"
	class="no-js scroll-smooth"
	itemtype="{{ page.itemtype | default: 'http://schema.org/WebPage' }}"
	itemscope=""
	{% if site.service_worker %}data-service-worker="{{ site.service_worker | absolute_url }}"{% endif %}
	data-support-test="details, dialog, cssvars"
	{% if site.google-analytics %}data-google-analytics="{{ site.google-analytics }}"{% endif %}
>
	{% include head.html %}
	<body
		id="top"
		class="layout-{{ page.layout }} {{ page.body-class | default: site.body-class }}"
		contextmenu="{{ page.contextmenu | default: site.contextmenu }}"
		{% if page.itemprop and page.itemtype %}
			itemprop="{{ page.itemprop }}"
			itemtype="{{ page.itemtype }}"
			itemscope=""
		{% endif %}
	>
		{% include share-button.html %}
		{% include header.html %}
		{% include nav.html %}
		<main class="color-default font-article card shadow-dark" role="main" itemprop="mainContentOfPage">
			{{ content }}
		</main>
		{% include footer.html %}
		{% include nav-menu.html %}
		{% include about-dialog.html %}
	</body>
</html>
