.card {
	border: 1px solid #ccc;
	border-radius: 2px;
	background: white;
	padding: 0.7em;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.grayscale {
	filter: grayscale(1);
}
.flex .center {
	align-self: center;
}
.shadow {
	box-shadow: 0.3rem 0.3rem 0.3rem #111;
}
.round {
	border-radius: 50%;
}
.container.flex.row {
	justify-content: space-evenly;
}
.bg-fixed {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
