dialog:not([open]) {
	animation-name: none;
}

dialog {
	overflow-y: auto;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0 6px 60px rgba(0,0,0,.8);
	padding: 0;
	max-width: 85vw;
	max-height: 55vh;
}

dialog[open] + .backdrop, dialog::backdrop {
	animation: fadeIn 200ms ease-in;
}

dialog > header {
	padding: 0.3em;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 2px 2px rgba(0,0,0,.8);
}

dialog > *:not(header) {
	margin: 0.8em;
}
