body {
	grid-template-rows: calc(100vh - var(--nav-height)) var(--nav-height) auto auto;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-areas: 'header header header'
	'nav nav nav'
	'. main .'
	'footer footer footer';
}

@media (max-width: 600px) {
	body {
		grid-template-columns: 1fr;
		grid-template-areas: 'header'
		'nav'
		'main'
		'footer';
	}
}
