body {
	box-sizing: border-box;
	margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: calc(100vh - var(--nav-height)) var(--nav-height) minmax(100vh, max-content) auto;
	grid-template-columns:1fr 8fr 2fr;
	background: blue;
	grid-template-areas:
		'header header header'
		'nav nav nav'
		'main main sidebar'
		'footer footer footer';
}
@media (max-width: 600px) {
	body {
		grid-template-columns: 1fr;
		grid-template-areas:
			'header'
			'nav'
			'main'
			'sidebar'
			'footer';
	}
}
