.layout-home {
	grid-template-rows: minmax(calc(100vh - var(--nav-height)), auto) var(--nav-height);
}

@media (min-width: 701px) {
	body {
		grid-template-columns: 2vw 75vw 23vw;
		grid-template-areas: 'header header header'
		'nav nav nav'
		'. main pinned-posts'
		'. main recent-posts'
		' . main .'
		'footer footer footer';
	}
}

@media (max-width: 700px) {
	body {
		grid-auto-columns: 100%;
		grid-template-areas: 'header' 'nav' 'main' 'pinned-posts' 'recent-posts' 'footer';
	}

	.layout-home {
		grid-template-areas: 'header' 'nav' 'pinned-posts' 'main' 'recent-posts' 'footer';
	}
}
