@import url("./portfolio.css");
@import url("./article.css");

main {
	padding: 1rem;
	grid-area: main;
	margin: 1rem 0;
}

.grid.grid-gallery {
	grid-template-columns: repeat(auto-fill, minmax(270px, 380px));
	grid-gap: 1.3em;
	justify-content: space-around;
}

@media (max-width: 600px) {
	main {
		margin: 1rem;
	}
}
