body > main {
	padding: 1rem;
	background-color: #fafafa;
	grid-area: main;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 0.7em;
	overflow: visible;
	overflow: hidden;
}
main > section {
	transform-origin: top;
	transition: all 600ms;
	padding: 0.7em;
}
main > section:hover {
	transform: scale(1.2);
}
h3 {
	text-align: center;
}
