body > nav {
	font-size: 1.5rem;
	background-image: linear-gradient(#444, #222);
	border-radius: 0 0 1rem 1rem;
	box-shadow: 0 0.3rem 0.3rem #111;
	grid-area: nav;
	justify-content: space-evenly;
}

body > nav a {
	flex: 1 0 auto;
	line-height: var(--nav-height);
	background-image: inherit;
}

body > nav a:first-child {
	border-radius: 0 0 0 1rem;
}

body > nav a:last-child {
	border-radius: 0 0 1rem 0;
}

body > nav a:not(:last-child) {
	border-right: 2px solid lightgray;
}

body > nav a:hover {
	background-image: linear-gradient(#222, #444);
}
