#portfolio.grid {
	grid-template-columns: repeat(auto-fill, minmax(270px, 380px));
	grid-gap: 1.3em;
	justify-content: center;
}

#portfolio .project-screenshot {
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 12rem;
	max-height: 350px;
	object-fit: contain;
}

.project:hover {
	box-shadow: 0 0 0.8em var(--accent-color);
}

.project .project-keywords {
	font-size: 0.7em;
}
